# build
.out/

# Terraform
.terraform
**/tfplan.*

# Terragrunt
**/.terragrunt-cache
**/.terrafrom.lock.hcl

# Homebrew
Brewfile.lock.json

# General
.DS_Store
*.swp

# Vscode
.vscode/

# Jetbrains
.idea
